h1 {
    font: bold 3vw "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
}

.slayername {
    font: bold 2vw "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
}

.slayerinfo {
    font: 1vw "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

.orange-border {
    background-color: #FF6600;
    height: 40vw;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
}

body {
    background-color: mediumpurple;
    margin: 0;
}