h1 {
    font: 35px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.slayername {
    font: bold 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.slayerinfo {
    font: italic 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img {
    width: 200px;
    height: 200px;
}


body {
    background-color: mediumpurple;
}