h1 {
    font: bold 6vw "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
}

.slayername {
    font: bold 3vw "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
}

.slayerinfo {
    font: 5vw "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: auto;
    padding-bottom: 14.1%;
    padding-top: 5%;
}

.orange-border {
    background-color: red;
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
}

body {
    background-color: white;
    margin: 0;
}